In [0]:
-- 1. Create the sales table
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_id VARCHAR(10),
    product VARCHAR(50),
    amount DECIMAL(10,2),
    sale_date DATE,
    region VARCHAR(20)
);

In [0]:
-- 2. Insert the data into the table

INSERT INTO sales (sale_id, customer_id, product, amount, sale_date, region)
VALUES
(101, 'C001', 'Shoes', 2999, '2023-10-01', 'North'),
(102, 'C002', 'T-Shirt', 999, '2023-10-01', 'West'),
(103, 'C001', 'Watch', 5999, '2023-10-02', 'North'),
(104, 'C003', 'Bag', 1999, '2023-10-03', 'South');

In [0]:
-- SQL query to get the total sales per region

SELECT region,sum(amount) as total_sales FROM sales GROUP BY region

In [0]:
--Retrieve all orders placed on or after 2023-10-02
SELECT * FROM
sales where sale_date >= '2023-10-02'

In [0]:
-- Customers who have spent more than $2000

SELECT * FROM sales WHERE amount > 2000

In [0]:
SELECT  region,max(amount) FROM sales GROUP BY region